doctype html
html(lang='en-us')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title freeCodeCamp Request Header Parser Microservice
    link(rel='stylesheet' href='assets/styles.css')

  body
    h1 Request Header Parser Microservice

    h2 Example Usage

    p
      a(href='api/whoami')= host + '/api/whoami'

    h3 Response
    p
      samp {"ipaddress":"112.204.63.36","language":"en-US,en;q=0.5","software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:69.0) Gecko/20100101 Firefox/69.0"}

    footer
      p
        a(href='https://github.com/kevcomedia/fcc-request-header-parser-microservice' target='_blank') GitHub
